* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
}

:root {
    --color-bluecrayola: #245EE9; 
    --dark-color: #23272A;
}

nav {
    display: flex;
    background-color: var(--color-bluecrayola);
    padding: 20px;
    justify-content: center;
}

.logo {
    flex-grow: 1;
    margin-left: 300px;
}

.link {
    display: flex;
    flex-grow: 2;
    color: white;
    justify-content: space-around;
}

.login {
    flex-grow: 1;
    margin-right: 300px;
    text-align: end;
}

.button-login{
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
}

.jumbotron {
    padding: 100px 100px;
    background-image: url(img/jumbo.png);
    background-size: cover;
    padding-top: 10px;
}

.title {
    width: 50%;
    padding: 140px;
    margin: 0 auto;
    color: white;
}

h1 {
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding-bottom: 20px;
}

.button-section {
    display: flex;
    justify-content: space-evenly;
}

.download {
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
}

.open {
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    background-color: #23272A;
    color: white;
}

.section {
    display: flex;
    flex-direction: row;
    padding: 100px 100px;
    justify-content: center;
}

.chat {
    background-color: var(--white-color);
}

.item1{
    width: 45%;
    padding: 100px;
}

.chat-description {
    width: 35%;
    padding: 100px;
}

.stars {
    display: flex;
    font-size: 40px;
    justify-content: center;
    padding-bottom: 20px;
    background-image: url(img/stars.svg);
}

.voice {
    background-color: white;
}

.voice-description {
    width: 35%;
    padding: 100px;
}

.item2{
    width: 45%;
    padding: 100px;
}

.rules {
    background-color: var(--white-color)
}

.item3{
    width: 45%;
    padding: 100px;
}

.rules-description {
    width: 35%;
    padding: 100px;
}

.section-stream {
    padding: 50px 50px;
}

.item4 {
    width: 80%;
    padding: 200px;
    margin: 0 auto;
}

.downloadmac {
    padding: 20px 35px;
    border: none;
    border-radius: 30px;
    background-color: #8EA1E1;
    color: white;
}

.section-close {
    display: flex;
    background-color: var(--dark-color);
    padding: 30px 240px;
    justify-content: center;
    width: 100%;
    min-height: 600px;
    color: #7289DA;
}

.ita {
    width: 30px;
    margin-top: 20px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

span {
    color: white;
}

ul {
    list-style-type: none;
    color: white;
}

.col2 {
    margin-right: 30px;
}

.col3 {
    flex-grow: 1;
}

.section-logo2 {
    display: flex;
    background-color: var(--dark-color);
    justify-content: center;    
}

.row-logo2 {
    display: flex;
    padding-bottom: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.logo2 {
    margin-bottom: 30px;
    width: 60px;
    padding: 10px 10px;
    margin-top: 30px;
}

.signin{
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    background-color: #8EA1E1;
    color: white;
}
